[submodule "Baseband-Guard"]
	path = Baseband-Guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/pershoot/susfs4ksu/
	branch = gki-android14-6.1-dev
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU
